body{
  margin: 0;
  padding: 0;
}

/* Welcom section */

#particles-js{
  width: 100%;
  height: 100vh;
  background-color: #903749;
}

#welcome-page h1{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-size: 3rem;
  animation: slow 4s;
}
span{
  font-weight: 300;
  font-size: 2.5rem;
}

@keyframes slow {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes reverse-slow {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

/* Intro */

.intro,.skills-projects{
  background-color: #2B2E4A;
  width: 100vw;
  height: 100vh;
}

.left-spline,iframe{
  width: 50vw;
  height: 100vh;
}

.right-intro{
  position: absolute;
  left: 55vw;
  top: 70vw;
  right: 5vw;
}

.hello{
  font-family: "Ubuntu", serif;
  font-size: 5rem;
  font-weight: 700;
  color: #E84545;
  line-height: 2.5;
  animation: reverse-slow 3s;
  opacity: 0;
}

.intro-interests{
  font-family: "Montserrat", serif;
  color: #E84545;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 500;
  animation: reverse-slow 3s;
  opacity: 0;
}



/* Skills & Projects Intro */

.skills-projects-intro > .container-fluid{
  position: relative;
  width: 40vw;
  height: 50vh;
  left: 24vw;
  /* padding: 20% 5% 30%; */
  background-color:#2B2E4A;
}

.elaborate, .first-letter{
  font-family: "Montserrat",serif;
  font-size: 2rem;
  font-weight: 300;
  color: #E84545;
  animation: reverse-slow 3s;
  opacity: 0;
}
.ai-ml{
	padding-top: 10%;
}

.first-letter{
  font-family: "Sacramento", serif;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.5;
}

.ease-in{
  animation: slow 4s;
  opacity: 1;
}

/* Skills section */
#skills{
  margin: 0;
  padding: 30% 10% 15%;
  background-color: #2B2E4A;
}

#skills .container-fluid{
  padding: 10% 10% 15%;
  background-color: #2B2E4A;
}

hr{
  border-style: none none dotted none;
  margin-left: 47%;
  margin-right: 47%;
  color: #E84545;
  border-width: 0.5rem;
}

.left-skill-img, .right-skill-img{
  width: 50%;
  height: 50%;
  transition: opacity 450ms ease-in, transform 500ms ease-in;
  opacity: 0;
}

.left-skill-img{
  float: left;
  transform: translateX(-50%);
}

.right-skill-img{
  float: right;
  transform: translateX(50%);
}

.fade-in{
  transform: translate(0);
  opacity: 1;
}

.right-text, .left-text{
  position: relative;
  font-family: "Montserrat", serif;
  font-size: 1rem;
  font-weight: 400;
  color: #E84545;
  transition: opacity 400ms;
  opacity: 0;
}

.right-text{
  margin-left: 55%;
}

.left-text{
  margin-right: 55%;
}

.sub-header{
  font-family: "Montserrat",serif;
  font-weight: 500;
  font-size: 2rem;
  padding-top: 6rem;
  padding-bottom: 1rem;
}

.appear{
  animation: slow 2s;
  opacity: 1;
}

/* Personalities */
#personalities{
  background-color: #FF2E63;
  text-align: center;
  color: #2B2E4A;
}

.personalities-img{
  width: 15%;
  border-radius: 50%;
  margin: 2%;
}

.carousel-item{
  padding: 5% 15% 10%;
}

.personalities-pad{
  background-color: #2B2E4A;
  padding: 10% 10% 3%;
}

/* Contact */

#contact{
  text-align: center;
  margin-top: 0;
  padding-bottom: 5%;
  background-color: #2B2E4A;
}

.question{
  font-size: 200%
}

.contact-me >h2,h3,p{
  color: #FF2E63;
  font-family: "Montserrat", serif;
}
.contact-me >h2{
  font-weight: 500;
}
.contact-me > h3{
  font-weight: 400;
}
.contact-me >p{
  font-weight: 300;
}
.btn {
  background: #34a5d9;
  background-image: linear-gradient(top, #34a5d9, #2bb8ac);
  background-image: linear-gradient(to bottom, #34a5d9, #2bb8ac);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: 'Cormorant Garamond', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 9px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3c99fc;
  background-image: linear-gradient(top, #3c99fc, #34c6d9);
  background-image: linear-gradient(to bottom, #3c99fc, #34c6d9);
  text-decoration: none;
}
.bottom-copyright{
  margin-bottom: 0;
  color: #FF2E63;
  padding-top: 20px;
  padding-bottom: 50px;
}
.footer-link{
  display: inline-block;
  margin-left: 40px;
  margin-right: 20px;
  text-decoration: none;
  font-family: 'Montserrat', serif;
  font-size: 150%;
}
.bottom-button{
  margin: 10px auto 50px 5px;
